header.header 
    nav.header__logo
        //- a(href='#').nav__el Adding Tours
        img(src='icons/backpack-logo.png' alt='logo')
    .header__logo 
    nav.nav.nav--user 
        a(href='#').nav__el Admin
        a(href='/login').nav__el.nav__el--cta Login

