header.header 
    nav.nav.nav--tours
        a(href='#').nav__el Adding Tours
    .header__logo 
        img(src='icons/backpackLogo.png' alt='logo')
    nav.nav.nav--user 
        a(href='#').nav__el Admin